<p id="notice"><%= notice %></p>
<br><br>
<h1>Listing Products</h1>
<%= link_to image_tag("addProduct.png", border: 0), new_product_path %>
<br><br>
<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>
<br><br>




